/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./font/Montserrat-Medium.ttf.woff") format("woff"), url("./font/Montserrat-Medium.ttf.svg#Montserrat-Medium") format("svg"), url("./font/Montserrat-Medium.ttf.eot"), url("./font/Montserrat-Medium.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("./font/Devonshire-Regular.ttf.woff") format("woff"), url("./font/Devonshire-Regular.ttf.svg#Devonshire-Regular") format("svg"), url("./font/Devonshire-Regular.ttf.eot"), url("./font/Devonshire-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Croissant-One";
  src: url("./font/Croissant-One.ttf.woff") format("woff"), url("./font/Croissant-One.ttf.svg#Croissant-One") format("svg"), url("./font/Croissant-One.ttf.eot"), url("./font/Croissant-One.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dancing-Script";
  src: url("./font/Dancing-Script.ttf.woff") format("woff"), url("./font/Dancing-Script.ttf.svg#Dancing-Script") format("svg"), url("./font/Dancing-Script.ttf.eot"), url("./font/Dancing-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("./font/Kaushan-Script.ttf.woff") format("woff"), url("./font/Kaushan-Script.ttf.svg#Kaushan-Script") format("svg"), url("./font/Kaushan-Script.ttf.eot"), url("./font/Kaushan-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Faux-Omniglot";
  src: url("Faux-Omniglot.ttf.woff") format("woff"), url("Faux-Omniglot.ttf.svg#Faux-Omniglot") format("svg"), url("Faux-Omniglot.ttf.eot"), url("Faux-Omniglot.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
a:-webkit-any-link {
  text-decoration: none;
  color: unset;
  width: 42.5%;
}

header, footer {
  background-color: #579C87;
  color: #FDCB46;
  font-family: Montserrat-Medium;
}

header {
  text-align: center;
  font-size: 3em;
  padding: 20px;
}

h1 {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  font-size: 1.5em;
  margin-top: 20px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
footer .contact {
  text-align: right;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5% 20px 5%;
  justify-content: space-around;
}

.menu {
  width: 100%;
  height: 700px;
  margin: 40px 0px;
  text-align: center;
  box-shadow: 1px 1px 12px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu_1 {
  background-color: #fcdfdb;
  font-family: Devonshire-Regular;
}
.menu_1--titre {
  font-size: 2.5em;
}
.menu_2 {
  background-color: #fff5fe;
  font-family: Croissant-One;
}
.menu_2--titre {
  background: -webkit-linear-gradient(45deg, #c77412, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}
.menu_3 {
  background-color: #f9f9f9;
  font-family: Dancing-Script;
}
.menu_3--titre {
  background: -webkit-linear-gradient(45deg, #0131DF, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}
.menu_4 {
  background-color: #fdfffd;
  font-family: Kaushan-Script;
}
.menu_4--titre {
  background: -webkit-linear-gradient(45deg, #3D9339, #BFFF7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

.menu_1 img {
  width: 50px;
}

h3 {
  font-family: "Comic sans MS";
  font-size: 2.5em;
  margin-top: 15px;
}

.menu_2 h3 {
  color: #c77412;
}

.menu_3 h3 {
  color: #0887fb;
}

.menu_4 h3 {
  color: #72bf56;
}

.prochainement {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 40%;
  margin: auto;
  margin-bottom: 100px;
  color: #FDCB46;
  background-color: #579C87;
  border-radius: 5px;
  font-size: 1.5em;
  font-family: Montserrat-Medium;
}

.container_menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.carte_menu {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 50px 0px;
}

.nom_menu {
  margin: 30px;
  font-size: 2em;
}

.detail_carte {
  text-align: left;
}

h4 {
  font-size: 1.5em;
  margin: 50px 0px 20px 0px;
  text-align: center;
}

p {
  margin: 10px 0px 10px 0px;
}

.logo {
  display: flex;
  margin: 50px;
  justify-content: space-around;
  width: 500px;
}

.carte_menu1 {
  font-family: "Comic sans MS";
  display: flex;
  flex-direction: column;
  margin: auto;
}
.carte_menu1 h4 {
  font-weight: bold;
}

.carte_menu2 {
  font-family: Faux-Omniglot;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.carte_menu2 h4 {
  font-weight: bold;
}

.container_menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.entree_menu2 {
  color: #c77412;
}

.plat_menu2 {
  color: #905bfd;
}

.dessert_menu2 {
  color: #0131DF;
}

.carte_menu3 {
  font-family: "Comic sans MS";
  display: flex;
  flex-direction: column;
  margin: auto;
}

.container_menu3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.carte_menu4 {
  font-family: "Comic sans MS";
  display: flex;
  flex-direction: column;
  margin: auto;
}

.container_menu4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

/*# sourceMappingURL=style.css.map */
