/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./font/Montserrat-Medium.ttf.woff") format("woff"), url("./font/Montserrat-Medium.ttf.svg#Montserrat-Medium") format("svg"), url("./font/Montserrat-Medium.ttf.eot"), url("./font/Montserrat-Medium.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("./font/Devonshire-Regular.ttf.woff") format("woff"), url("./font/Devonshire-Regular.ttf.svg#Devonshire-Regular") format("svg"), url("./font/Devonshire-Regular.ttf.eot"), url("./font/Devonshire-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Croissant-One";
  src: url("./font/Croissant-One.ttf.woff") format("woff"), url("./font/Croissant-One.ttf.svg#Croissant-One") format("svg"), url("./font/Croissant-One.ttf.eot"), url("./font/Croissant-One.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dancing-Script";
  src: url("./font/Dancing-Script.ttf.woff") format("woff"), url("./font/Dancing-Script.ttf.svg#Dancing-Script") format("svg"), url("./font/Dancing-Script.ttf.eot"), url("./font/Dancing-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("./font/Kaushan-Script.ttf.woff") format("woff"), url("./font/Kaushan-Script.ttf.svg#Kaushan-Script") format("svg"), url("./font/Kaushan-Script.ttf.eot"), url("./font/Kaushan-Script.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
header, footer {
  background-color: #579C87;
  color: #FDCB46;
  font-family: Montserrat-Medium;
}

header {
  text-align: center;
  font-size: 3em;
  padding: 20px;
}

h1 {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  font-size: 1.5em;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5% 20px 5%;
  justify-content: space-around;
}

.menu {
  width: 42.5%;
  height: 500px;
  margin: 20px 20px;
  text-align: center;
  box-shadow: 1px 1px 12px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}
.menu_1 {
  background-color: #fcdfdb;
  font-family: Devonshire-Regular;
}
.menu_2 {
  background-color: #fff5fe;
  font-family: Croissant-One;
}
.menu_3 {
  background-color: #f9f9f9;
  font-family: Dancing-Script;
}
.menu_4 {
  background-color: #fdfffd;
  font-family: Kaushan-Script;
}

.menu_1 img {
  width: 50px;
}

h3 {
  font-family: "Comic sans MS";
  font-size: 1.5em;
}

.prochainement {
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
  width: 40%;
  margin: auto;
  color: #FDCB46;
  background-color: #579C87;
  border-radius: 5px;
  font-size: 1.5em;
  font-family: Montserrat-Medium;
}

/*# sourceMappingURL=style.css.map */
