a:-webkit-any-link {
    text-decoration: none;
    color: initial;
    width: 42.5%;
}
header, footer {
    background-color: $colorbackground-primary;
    color: $colortext-primary;
    font-family: $fontfamily-primary;
}

header {
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

h1 {
    font-weight: bold;     
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
    font-size: 1.5em;
    margin-top: 20px;
    position: fixed;
    bottom: 0px; right:0px; left: 0px;
}
