a:-webkit-any-link {
    text-decoration: none;
    color: unset;
    width: 42.5%;
}
header, footer {
    background-color: $colorbackground-primary;
    color: $colortext-primary;
    font-family: $fontfamily-primary;
}

header {
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

h1 {
    font-weight: bold;     
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
    font-size: 1.5em;
    margin-top: 20px;
    position: fixed;
    bottom: 0px; right:0px; left: 0px;
    .contact {
        text-align: right;
    }
}
h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
p {
    padding: 10px 0px 10px 0px;
}