.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5% 20px 5%;
    justify-content: space-around;
    
}
.menu_accueil {
    width: 42.5%;
}
.menu {
    width: 100%;
    height: 700px;
    margin:40px 0px;
    text-align: center;
    box-shadow: 1px 1px 12px grey ;
    display: flex;
    flex-direction: column;
    justify-content: center;
        &_1 {
            background-color: $colorbackground-menu1;
            font-family: $fontfamily-menu1;
        }
            &_1--titre {
                font-size: 2.5em;
            }

        &_2 {
            background-color: $colorbackground-menu2;
            font-family: $fontfamily-menu2;
        }
            &_2--titre {
                @include degrade (45deg,#c77412, #905bfd);
                font-size: 2em;
             }

        &_3 { 
            background-color: $colorbackground-menu3;
            font-family: $fontfamily-menu3;
        }
                &_3--titre {
                    @include degrade (45deg, #0131DF, #0887fb);
                    font-size: 3em;
                }

        &_4 {
            background-color: $colorbackground-menu4;
            font-family: $fontfamily-menu4;
        }
            &_4--titre {
                @include degrade (45deg, #3D9339, #BFFF7e);
                font-size: 3em;
            }
}

.logo_menu1 {
    width: 50px;
}

h3 {
    font-family: "Comic sans MS";
    font-size: 2.5em;  
    margin-top: 15px;  
}
.menu_2 h3 {
    color: #c77412;
}
.menu_3 h3 {
    color: #0887fb;
}
.menu_4 h3 {
    color: #72bf56;
}

.prochainement {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
    color: $colortext-primary;
    background-color: $colorbackground-primary;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: $fontfamily-primary;
    text-align: center;
}
.nom {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(1);
    transition: all 700ms;
    &:hover  {
        transform: scale(1.4);
        opacity: .4; }}
 
