@font-face {
    font-family: 'Montserrat-Medium';
    src:url('./font/Montserrat-Medium.ttf.woff') format('woff'),
        url('./font/Montserrat-Medium.ttf.svg#Montserrat-Medium') format('svg'),
        url('./font/Montserrat-Medium.ttf.eot'),
        url('./font/Montserrat-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}