//Degrade couleur
@mixin degrade($gradient, $firstcolor, $color) {
    background: -webkit-linear-gradient($gradient,$firstcolor, $color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
        }

@mixin carte_menu ($font-family: "Comic sans MS") {
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    }
@mixin contenair_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

@mixin menu { 
    .container_menu1 {
        @include contenair_menu;
    }
    .carte_menu {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0px 50px 0px;
    }
    .nom_menu {
        margin: 30px;
        font-size: 2em;
    }
    .detail_carte {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }
    .plat {
        width: 80%;
    }
    .prix {
        text-align: right;
        width: 20%;
    }
    
    h4 {
        font-size: 1.5em;
        margin: 50px 0px 20px 0px;
        text-align: center;
    }
    p {
        margin: 10px 0px 10px 0px;
    }
    .logo {
        display: flex;
        margin: 50px;
        justify-content: space-around;
        width: 500px;
    }
}