//Degrade couleur
@mixin degrade($gradient, $firstcolor, $color) {
    background: -webkit-linear-gradient($gradient,$firstcolor, $color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
        }
