/*-------------------Background color------------------------------*/
$colorbackground-primary: #579C87;
$colorbackground-menu1: #fcdfdb;
$colorbackground-menu2: #fff5fe;
$colorbackground-menu3: #f9f9f9;
$colorbackground-menu4: #fdfffd;

/*------------------------------Text color---------------------------*/

$colortext-primary: #FDCB46;

/*------------------------------Font family----------------------------*/

$fontfamily-primary: Montserrat-Medium;