//Background color
$colorbackground-primary: #579C87;
$colorbackground-menu1: #fcdfdb;
$colorbackground-menu2: #fff5fe;
$colorbackground-menu3: #f9f9f9;
$colorbackground-menu4: #fdfffd;

//Text color

$colortext-primary: #FDCB46;

//Font family

$fontfamily-primary: Montserrat-Medium;
$fontfamily-menu1: Devonshire-Regular;
$fontfamily-menu2: Croissant-One;
$fontfamily-menu3: Dancing-Script;
$fontfamily-menu4: Kaushan-Script;
$fontfamily-carte_menu2: Faux-Omniglot